*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #faa307;
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 100%;
	max-width: 1152px;
	display: flex;
	flex-wrap: wrap;

	gap: 20px;
	padding: 20px;
}

.container {
	width: 273px;
	height: 220px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-content: flex-start;
	padding: 20px;
}

.container:nth-of-type(odd) {
	background-color: #03071e;
}

.container:nth-of-type(even) {
	background-color: #6a040f;
}

.circles {
	width: 50px;
	height: 50px;
	background-color: #748cab;
	border-radius: 50%;
}

.two {
	display: flex;
	flex-direction: row-reverse;
	align-content: end;
}

.three {
	justify-content: space-between;
	align-content: space-between;
}

.four {
	justify-content: space-around;
	align-content: space-around;
}

.five {
	justify-content: center;
	align-content: center;
}
